@tailwind base;
@tailwind components;
@tailwind utilities;

/* Crear un estilo global que centre el contenido de toda la pagina */
html, body {
  background-color: #141f31;/*101927*/
  height: 100%;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}